<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <title>Campito Futsal</title>
</head>

<body class="bg-slate-200 text-center">
    <div class="m-5">
        <h1 class=" text-red-800 text-5xl font-bold">
            El Campito Futsal
        </h1>
        <p class="my-2">Ficha tecnica jugadores</p>
        <div class="bg-slate-300">
            <table class="table-auto border-separate border border-black w-full">
                <thead>
                    <tr>
                        <th class="border border-gray-600 w-1/5">Jugadores</th>
                        <th class="border border-gray-600 w-3/5">Informacion</th>
                        <th class="border border-gray-600 w-1/5 ">Estado </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border border-gray-600  text-center">Juan Marcos Guzman </td>
                        <td class="border border-gray-600 pl-3">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
                        </td>
                        <td class="border border-gray-600 text-center">
                            Activo
                        </td>
                    </tr>
                    <tr>
                        <td class="border border-gray-600 text-center">Lautaro Barrionuevo </td>
                        <td class="border border-gray-600 pl-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, saepe.
                        </td>
                        <td class="border border-gray-600 text-center">
                            Activo
                        </td>
                    </tr>
                    <tr>
                        <td class="border border-gray-600  text-center">Agustin Sosa </td>
                        <td class="border border-gray-600 pl-3">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, inventore.
                        </td>
                        <td class="border border-gray-600 text-center">
                            Deuda
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="datos" class="bg-green-300 w-full h-32">
                <h1> </h1>
            </div>
        </div>
    </div>


    <script>

        const datos = [
            {
                nombre: "Gonzalo Ariel Parada Cao",
                informacion: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                estado: "Activo",
            },
            {
                nombre: "Isabella Productora ",
                informacion: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                estado: "Deuda",
            },
            {
                nombre: "Juan Pablo Parada Cao",
                description: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
                estado: "Deuda",
            },
        ];


        const mostarDatos = document.getElementById("datos")

        const a = datos.forEach(e => document.body.insertAdjacentHTML(`beforeend`, `<h1> <b>Nombre: </b> ${e.nombre}  <b> Estado: </b> ${e.estado} </h1>`))



        // EJEMPLO ITERAR FRUTAS 

        // var fruits = ["bannanna", "apple", "orange", "grapes"]

        // fruits.forEach(item => document.body.insertAdjacentHTML('beforeend', `<h1>${item}</h1>`))

        // console.log(datos)


        // ITERAR FOR
        // let output = "";

        // for (let i = 0; i < datos.length; i++) {
        //     // output = output + `<li> ${datos[i].estado} </li>`
        //     output = output + `El jugador ${datos[i].nombre}` + `${datos[i].estado}`

        //     mostarDatos.append(output)
        // }



    </script>
    <script src="../helpers/data2.js"></script>
    <script src="../controllers/homeController.js"></script>

</body>

</html>